.container{
    margin: auto;
  width: 50%;
  border: 2px solid rgb(0, 0, 0);
  padding: 25px;
  margin-top:200px;
text-align:center;
}


.buttons{
  display: inline-flex;
  gap: 0.5em;

}

 button{
  width:90px;
}

p{
  display:inline-block;
}
